<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue.js Basics</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <span>👋</span>
      </header>
      <main>
        <h1>Hello, {{name}}!</h1>
        <p>
          I'm about to learn
          <a href="https://vuejs.org/" target="_blank">Vue.js</a>!
          {{luckyNumber}}
        </p>
        <p>
          This is a random number:
          <span v-text="getRandomLuckyNumber()"></span>
        </p>
        <p>
          Render once:
          <span v-once>{{getRandomLuckyNumber()}}</span>
        </p>
        <p>
          <a v-bind:href="portfolioUrl" target="_blank">Portfolio</a>
        </p>
        <p v-show="false">This is hidden.</p>
        <p v-if="true">This is visible.</p>
        <p v-else-if="false">This is not visible.</p>
        <p v-else>This is not visible.</p>
        <p v-for="(luckyNumber, index) in luckyNumbers" v-show="false">
          {{index}}-{{luckyNumber}}
        </p>
        <button v-on:click="click" class="button">Click</button>
      </main>
      <footer>
        <p>&copy; 2025</p>
      </footer>
    </div>
    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const name = ref('Vue.js');
          const luckyNumber = ref(7);
          const luckyNumbers = ref([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);
          const portfolioUrl = ref('https://heghine-app.netlify.app/');

          function getRandomLuckyNumber() {
            return Math.floor(Math.random() * 10) + 1;
          }

          function click() {
            alert('You clicked the button!');
          }

          return {
            name,
            luckyNumber,
            getRandomLuckyNumber,
            portfolioUrl,
            luckyNumbers,
            click,
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
