body {
  background-color: #f9fafc;
}

#app {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  color: #2c3e50;

  height: 95vh;
  width: 100%;
}

header {
  font-size: 2em;
}

footer {
  font-size: 0.8em;
  color: #656e77;
}

.button {
  background-color: #42b883;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #fff;
  border: none;
}

.button:hover {
  background-color: #4ad496;
  cursor: pointer;
}

.button:active {
  background-color: #36976c;
}
